<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="logger" class="c.autowiring._1bytype.Logger"
		autowire="byType">
	</bean>
	<bean id="consolelogwriter"
		class="c.autowiring._1bytype.ConsoleLogWriter">
	</bean>
	<bean id="filelogwriter"
		class="c.autowiring._1bytype.FileLogWriter">
	</bean>
</beans>
