<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byType" default-autowire-candidates="consoleLogWriter,fileLogWriter">

	<bean id="logger" class="c.autowiring._4default.Logger" />
	<bean id="consoleLogWriter" class="c.autowiring._4default.ConsoleLogWriter" />
	<bean id="fileLogWriter" class="c.autowiring._4default.FileLogWriter" />
</beans>
