<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="logger" class="d.annotatedwiring._2qualifiers.Logger" />

	<bean id="consoleLogWriter" class="d.annotatedwiring._2qualifiers.ConsoleLogWriter">
		<qualifier value="toConsole"></qualifier>
	</bean>

	<bean id="fileLogWriter" class="d.annotatedwiring._2qualifiers.FileLogWriter">
		<qualifier value="toFile"></qualifier>
	</bean>

	<context:annotation-config></context:annotation-config>
</beans>
