<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="jungle" class="b.beans._10mapproperties.Jungle">
		<property name="foods">
			<props>
				<prop key="monkey">banana</prop>
				<prop key="sparrow">daana</prop>
			</props>
		</property>
	</bean>
</beans>
